extends tmpl/_layout

block vars
	- var pageId = 'catalog-detail-popup'
	- var cartCount = '1'
	-
		var breadcrumbs=[
			{href:'/',name:'Каталог'},
			{href:'#',name:'Топы'},
		];

block body
	.page-top.d-none.d-md-block
		.container
			.row
				.col-12
					.breadcrumb-wrap
						.breadcrumb-wrap__back
							+svg('ic-arrow-left','ic-arrow-left', '19', '16')

						+breadcrumbs(breadcrumbs)

	section.catalog-detail
		.container
			.row
				.col-md-6
					.prod-detail-slider-wrap
						.prod-detail-thumb-slider-wrap
							.swiper.prod-detail-thumb-slider.js-prod-detail-thumb-slider
								.swiper-wrapper
									-
										var list=[
											{img:'catalog-big1.jpg'},
											{img:'catalog-big2.jpg'},
											{img:'catalog-big3.jpg'},
											{img:'catalog-big4.jpg'},
											{img:'catalog-big5.jpg'},
											{img:'catalog-big1.jpg'},
											{img:'catalog-big2.jpg'},
											{img:'catalog-big3.jpg'},
											{img:'catalog-big4.jpg'},
											{img:'catalog-big5.jpg'},
										]
									each item in list
										.swiper-slide.prod-detail-thumb-slider__item
											.prod-detail-thumb-slider__img
												img(src="/upload/"+item.img, alt="")

							//- .swiper-button-prev.js-prod-detail-thumb-slider-prev
							//- 	+svg('ic-arr-up','ic-arr-up', '16', '9')
							
							//- .swiper-button-next.js-prod-detail-thumb-slider-next
							//- 	+svg('ic-arr-down','ic-arr-down', '16', '9')

						.swiper.prod-detail-slider.js-prod-detail-slider
							.swiper-wrapper
								-
									var list=[
										{img:'catalog-big1.jpg'},
										{img:'catalog-big2.jpg'},
										{img:'catalog-big3.jpg'},
										{img:'catalog-big4.jpg'},
										{img:'catalog-big5.jpg'},
										{img:'catalog-big1.jpg'},
										{img:'catalog-big2.jpg'},
										{img:'catalog-big3.jpg'},
										{img:'catalog-big4.jpg'},
										{img:'catalog-big5.jpg'},
									]
								each item in list
									.swiper-slide.prod-detail-slider__item
										.prod-detail-slider__content
											a.prod-detail-slider__link(href="/upload/"+item.img, data-fancybox='images')
												img(src="/upload/"+item.img, alt="")

							.swiper-pagination.js-prod-detail-slider-pagination

						
						.detail-slider-info
							.detail-slider-info__material
								.info-material-btn.js-info-material-btn
									img(src="/upload/tvid.png", alt="")

								.info-material.js-info-material
									.info-material__img-wrap
										.info-material__img
											img(src="/upload/material-tvid.jpg", alt="")

									.info-material__title Твид
									.info-material__text Премиальное исполнение английской ткани из нитей голубого и чёрного цветов 

							.detail-slider-info__scale
								+svg('ic-resize','ic-resize', '18', '18')

							a(href="#").btn.btn_opacity.btn_small.js-info-product-popup-open с чем носить?

				.col-md-6.catalog-detail__info-wrap
					.catalog-detail__info
						.catalog-detail__info-top
							.catalog-detail__info-main
								h1.catalog-detail__title Бархатный топ
								
								.catalog-detail__price 12 000

							.catalog-detail-actions.d-md-none
								.catalog-detail-actions__item
									+svg('ic-heart','ic-heart', '15', '15')

								.catalog-detail-actions__item
									+svg('ic-export','ic-export', '13', '15')

						.catalog-detail-params
							.catalog-detail-params__item
								.catalog-detail-params__label
									span.d-none.d-md-inline-block Выберите размер
									span.d-md-none Размер

								.catalog-check-params
									-
										var list=[
											{text:'s', status:'active'},
											{text:'m'},
											{text:'l'},
										]
									each item in list
										.catalog-check-params__item(class=item.status?'active':'')= item.text

							.catalog-detail-params__item
								.catalog-detail-params__label Цвет

								.catalog-check-params-color
									-
										var list=[
											{color:'#0F140D', status:'active'},
											{color:'#E1E0DB'},
										]
									each item in list
										.catalog-check-params-color__item(class=item.status?'active':'')
											.catalog-check-params-color__val(style="background:"+item.color)
										
						.catalog-detail-actions
							a(href="#").btn добавить в корзину

							.catalog-detail-actions__item.d-none.d-md-inline-flex
								+svg('ic-heart','ic-heart', '24', '22')

							.catalog-detail-actions__item.d-none.d-md-inline-flex
								+svg('ic-export','ic-export', '19', '23')

						.catalog-detail__desc It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted  

						
						.catalog-detail__unwrap
							-
								var list=[
									{title:'Доставка', icon:'ic-delivery', icon_width:'22', icon_height:'18'},
									{title:'Уход', icon:'ic-tag', icon_width:'24', icon_height:'24'},
									{title:'Политика возврата', icon:'ic-refresh', icon_width:'25', icon_height:'20'},
								]
							each item in list
								.unwrap-block.js-unwrap-block
									.unwrap-block__head.js-unwrap-head
										.unwrap-block__icon
											+svg(item.icon, item.icon, item.icon_width, item.icon_height)
										=item.title
										.unwrap-block__arr
											+svg('ic-arr-down','ic-arr-down', '16', '9')

									.unwrap-block__content.js-unwrap-content
										.unwrap-block__info.js-unwrap-info
											| It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted  

				//- .row.mt-indent
				//- .col-12
				.col-md-6
					.sub-h1 Расскажите свою историю

					.history
							//- .col-md-6
							.history__content
								.history__item
									.history__img
										img(src="/upload/history1.jpg", alt="")
										.history__pin
											img(src="/img/pin.svg", alt="")

									.history__text.d-none.d-md-block It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

								.history__item
									.history__img
										img(src="/upload/history2.jpg", alt="")

								.history__item.history__item_full.d-md-none
									.history__text It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

								.history__item.history__item_full.history__item_end
									.history__img
										img(src="/upload/history3.jpg", alt="")

								.history__item.history__item_full.history__item_end(style="margin-top: 40px;")
									.history__img
										img(src="/upload/history4.jpg", alt="")

									.history__img
										img(src="/upload/history5.jpg", alt="")

								.history__item.history__item_big
									.history__img
										img(src="/upload/history6.jpg", alt="")

	section.catalog-other.mt-indent
		.container
			.row
				.col-12
					.sub-h1 Вам может понравиться

		.container
			.row
				.col-12
					.catalog-slider.js-catalog-slider.swiper
						.swiper-wrapper
							-
								var list=[
									{img:'catalog1.jpg', text:'Бархатный топ', price:'12 000'},
									{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
									{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
									{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
								]
							each item in list
								.swiper-slide.catalog-item
									.catalog-item__img-wrap
										a(href="#").catalog-item__img
											img(src="/upload/"+item.img, alt="")

									.catalog-item__content
										.catalog-item__title
											a(href="#")= item.text

										.catalog-item__price= item.price

						.swiper-pagination.js-catalog-slider-pagination

	//- .detail-bar
	//- 	.detail-bar__top
	//- 		.catalog-detail-params
	//- 			.catalog-detail-params__item
	//- 				.catalog-detail-params__label Размер

	//- 				.catalog-check-params
	//- 					-
	//- 						var list=[
	//- 							{text:'s', status:'active'},
	//- 							{text:'m'},
	//- 							{text:'l'},
	//- 						]
	//- 					each item in list
	//- 						.catalog-check-params__item(class=item.status?'active':'')= item.text

	//- 			.catalog-detail-params__item
	//- 				.catalog-detail-params__label Цвет

	//- 				.catalog-check-params-color
	//- 					-
	//- 						var list=[
	//- 							{color:'#0F140D', status:'active'},
	//- 							{color:'#E1E0DB'},
	//- 						]
	//- 					each item in list
	//- 						.catalog-check-params-color__item(class=item.status?'active':'')
	//- 							.catalog-check-params-color__val(style="background:"+item.color)

	//- 	a(href="#").btn
	//- 		+svg('ic-plus','ic-plus', '18', '18')
	//- 		| добавить в корзину

	.product-success
		.product-success__content
			.product-success__img-wrap
				a(href="#").product-success__img
					img(src="/upload/product-success.jpg", alt="")

			.product-success__info
				.product-success__title
					a(href="#") Бархартный топ

				.product-success__price 12 000

				.product-success-params
					.product-success-params__item M
					.product-success-params__item.product-success-params__item_color(style="background: #000")

		a(href="#").btn.btn_brown.btn_medium Перейти в корзину

	.product-success-mobile
		.product-success-mobile__close
			+svg('ic-close','ic-close', '16', '16')

		.product-success-mobile__title Товар успешно
			br
			|добавлен в корзину

		.product-success-mobile__subtitle Дополните образ

		.catalog-list
			.container
				.row
					-
						var list=[
							{img:'catalog1.jpg', text:'Бархатный топ', price:'12 000'},
							{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
							{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
							{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
							{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
							{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
							{img:'catalog1.jpg', text:'Бархатный топ', price:'12 000'},
							{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
						]
					each item in list
						.col-6.col-md-3
							.catalog-item
								.catalog-item__img-wrap
									a(href="#").catalog-item__img
										img(src="/upload/"+item.img, alt="")

									.catalog-item__wish
										+svg('ic-heart','ic-heart', '15', '13')

								.catalog-item__content
									.catalog-item__title
										a(href="#")= item.text

									.catalog-item__price= item.price

		.product-success-mobile__btn
			a(href="#").btn Перейти в корзину

	.info-product-popup.js-info-product-popup
		.info-product-popup__wrap
			.info-product-popup__top
				.info-product-popup__title Состав и уход

				.info-product-popup__close.js-info-product-popup-close
					+svg('ic-close','ic-close', '16', '16')

			.info-product-popup__main
				.info-product-popup__content
					p 100% Шерсть. Нижнее платье: 100% Шелк
					ul
						li Стирка запрещена
						li Отбеливание запрещено
						li Барабанная сушка запрещена
						li Утюжьте при температуре до 110 °C
						li Профессиональная сухая чистка с углеводородами
						
					p Берегите от контакта с острыми и грубыми предметами, которые могут оставить затяжки и пилли

				.info-product-popup__btn
					span.btn.btn_border.js-info-product-popup-close Закрыть
