extends tmpl/_layout

block vars
	- var pageId = 'main'
	- var headerLight = 'true'

block body
	section.top-slider-wrap.mb-indent
		.swiper.top-slider.js-top-slider
			.swiper-wrapper
				-
					var list=[
						{text:'Женственность и сила в каждом образе'},
						{text:'Женственность'},
						{text:'Сила в каждом образе'},
					]
				each item in list
					.swiper-slide.top-slider__item(style="background-image: url(upload/bg-slider.jpg)")
						.container
							.row
								.col-12
									.top-slider__content
										.top-slider__info
											.top-slider__logo
												img(src="/upload/logo.svg", alt="")

											.top-slider__title DEVABALA

											.top-slider__text= item.text
											
										a.btn.btn_opacity(href="#") Посмотреть каталог

		.swiper-pagination.js-top-slider-pagination

	section.slider-sect-wrap.m-indent
		.container
			.row
				.col-12
					.swiper.slider-sect.js-slider-sect
						.swiper-wrapper
							.swiper-slide.slider-sect__item.js-slider-sect-item
								.swiper.slider-sect-img.js-slider-sect-img(data-pager="1")
									.swiper-wrapper
										-
											var list=[
												{img:'slider-sect1-1.jpg'},
												{img:'slider-sect1-2.jpg'},
												{img:'slider-sect1-3.jpg'},
											]
										each item in list
											.swiper-slide.slider-sect-img__slide(style="background-image: url(/upload/"+item.img+")")


								.slider-sect__num 01

								.slider-sect__content
									.slider-sect__title Круизная коллекция

									.swiper-pagination.js-slider-sect-img-pagination-1

									.slider-sect__btn
										a(href="#").btn.btn_opacity Посмотреть

							.swiper-slide.slider-sect__item.js-slider-sect-item.active
								.swiper.slider-sect-img.js-slider-sect-img(data-pager="2")
									.swiper-wrapper
										-
											var list=[
												{img:'slider-sect2-1.jpg'},
												{img:'slider-sect2-2.jpg'},
												{img:'slider-sect2-3.jpg'},
											]        
										each item in list
											.swiper-slide.slider-sect-img__slide(style="background-image: url(/upload/"+item.img+")")


								.slider-sect__num 02

								.slider-sect__content
									.slider-sect__title Для важных встреч

									.swiper-pagination.js-slider-sect-img-pagination-2

									.slider-sect__btn
										a(href="#").btn.btn_opacity Посмотреть

							.swiper-slide.slider-sect__item.js-slider-sect-item
								.swiper.slider-sect-img.js-slider-sect-img(data-pager="3")
									.swiper-wrapper
										-
											var list=[
												{img:'slider-sect3-1.jpg'},
												{img:'slider-sect3-2.jpg'},
												{img:'slider-sect3-3.jpg'},
											]        
										each item in list
											.swiper-slide.slider-sect-img__slide(style="background-image: url(/upload/"+item.img+")")


								.slider-sect__num 03

								.slider-sect__content
									.slider-sect__title Новая коллекция

									.swiper-pagination.js-slider-sect-img-pagination-3

									.slider-sect__btn
										a(href="#").btn.btn_opacity Посмотреть

						.swiper-button-prev.js-slider-sect-prev
							+svg('ic-arrow-left','ic-arrow-left', '19', '16')
						
						.swiper-button-next.js-slider-sect-next
							+svg('ic-arrow-right','ic-arrow-right', '19', '16')

	section.catalog-main-wrap.m-indent
		.container
			.row
				.col-12
					.catalog-main-wrap__content
						.row
							.col-md-5
								.spec-title
									a(href="#") Каталог
								
								ul.catalog-menu
									-
										var list=[
											{text:'платья'},
											{text:'корсеты'},
											{text:'брюки'},
											{text:'топы'},
											{text:'юбки'},
											{text:'жакеты'},
											{text:'блузки'},
										]
									each item in list
										li.catalog-menu__item
											a(href="#")= item.text
							.col-md-7.d-none.d-md-block
								.catalog-main-wrap__img
									img(src="/upload/woman.png", alt="")

	section.collections-wrap.m-indent
		.container
			.row
				.col-12
					.collections
						.spec-title Коллекция

		.collections-list
			-
				var list=[
					{img:'collection1.jpg'},
					{img:'collection2.jpg'},
					{img:'collection3.jpg'},
				]
			each item in list
				.collections-list__img
					img(src="/upload/"+item.img, alt="")
		
		.collections__btn
			a(href="#").btn.btn_clear посмотреть все
				+svg('ic-arrow-right','ic-arrow-right', '19', '16')
					
				
	section.special-products-wrap.m-indent
		.container
			.row
				.col-md-7
					.special-products-wrap__content
						.special-products-wrap__info
							.special-products-wrap__title для летних вечеров

							.special-products
								-
									var list=[
										{img:'special-product1.jpg'},
										{img:'special-product2.jpg'},
										{img:'special-product3.jpg'},
									]
								each item in list
									.special-products__img
										img(src="/upload/"+item.img, alt="")

						
						.special-products-wrap__btn
							a(href="#").btn.btn_clear посмотреть все
								+svg('ic-arrow-right','ic-arrow-right', '19', '16')
				
				.col-md-5.d-none.d-md-block
					.special-products-wrap__img
						img(src="/upload/special-product-big.jpg", alt="")

	section.new-collection-wrap.m-indent
		.container
			.row
				.col-12
					.spec-title.spec-title_small новая Коллекция

					.new-collection.d-none.d-md-flex
						-
							var list=[
								{img:'new-collection1.jpg', title:'Бархатный топ'},
								{img:'new-collection2.jpg', title:'Бархатный топ'},
								{img:'new-collection3.jpg', title:'Бархатный топ'},
							]
						each item in list
							a(href="#").new-collection__item
								.new-collection__img
									img(src="/upload/"+item.img, alt="")

								.new-collection__title= item.title
									.new-collection__arrow
										+svg('ic-arrow-right','ic-arrow-right', '19', '16')

					.swiper.slider-collection.js-slider-collection.d-md-none
						.swiper-wrapper
							-
								var list=[
									{img:'catalog1.jpg', text:'Бархатный топ', price:'12 000'},
									{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
									{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
									{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
									{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
									{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
									{img:'catalog1.jpg', text:'Бархатный топ', price:'12 000'},
									{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
								]
							each item in list
								.swiper-slide.catalog-item
									a(href="#").catalog-item__img-wrap
										.catalog-item__img
											img(src="/upload/"+item.img, alt="")

									.catalog-item__content
										.catalog-item__title
											a(href="#")= item.text

										.catalog-item__price= item.price

						.swiper-pagination.js-slider-collection-pagination
				

	section.promo.m-indent(style="background-image: url(/upload/promo.jpg)")
		.container
			.row
				.col-12
					.promo__content
						.promo__logo
							img(src="/upload/promo-logo.svg", alt="")

						.promo__title
							|круизная
							br
							|коллекция

						a(href="#").btn.btn_opacity.btn_big выбрать наряд

	section.collection-info-wrap.m-indent
		.container
			.row
				.col-12
					.spec-title Коллекция \11

					.collection-info
						.collection-info__item
							.collection-info__img
								img(src="/upload/dress.jpg", alt="")

							.collection-info__text.d-none.d-md-block It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

						.collection-info__item.collection-info__item_sb
							.collection-info__img
								img(src="/upload/woman-dress-small.jpg", alt="")

							.collection-info__img.d-none.d-md-block
								img(src="/upload/texture1.jpg", alt="")

						.collection-info__item.collection-info__item_big.d-md-none
							.collection-info__text It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

						.collection-info__item.collection-info__item_big.collection-info__item_end.d-md-none
							.collection-info__img(style="max-width: 50%;")
								img(src="/upload/texture1.jpg", alt="")
						

						.collection-info__item.collection-info__item_big
							.collection-info__img
								img(src="/upload/woman-dress.jpg", alt="")

						.collection-info__item.collection-info__item_big.collection-info__item_end
							.collection-info__img
								img(src="/upload/blouse-small.jpg", alt="")
							.collection-info__img
								img(src="/upload/blouse.jpg", alt="")

						.collection-info__item.collection-info__item_sb.collection-info__item_mob-full
							.collection-info__text It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

							.collection-info__img
								img(src="/upload/texture2.jpg", alt="")

	section.collection-about-wrap.mt-indent
		.container
			.row
				.col-12
					.collection-about
						.collection-about__img.d-none.d-md-block
							img(src="/upload/white-big.jpg", alt="")

						.collection-about__content
							.collection-about__top
								.collection-about__logo
									img(src="/upload/logo-sun.svg", alt="")

								.collection-about__title круизная коллекция

							.collection-about__img.d-md-none
								img(src="/upload/white-big.jpg", alt="")

							.collection-about__main
								.collection-about__main-img
									img(src="/upload/white-small.jpg", alt="")

								.collection-about__info
									.collection-about__text It is a long established fact that a reader will be distracted. It is a long established fact that a reader will be distracted It is a long established fact that a reader will be distracted

									a(href="#").btn.btn_clear.btn_small посмотреть все
										+svg('ic-arrow-right','ic-arrow-right', '19', '16')

						