header.header.js-header(class=headerLight?'header_light':'')
	.container
		.row
			.col-4
				.main-menu-wrap
					.main-menu-wrap__btn.js-main-menu-open
						+svg('ic-menu','ic-menu', '38', '30')

					.main-menu-wrap__popup.js-main-menu-wrap-popup
						.container
							.row
								.col-12
									.main-menu-wrap__close.js-main-menu-close
										+svg('ic-close','ic-close', '24', '24')
										//- .ic-hamburger.active.js-main-menu-close
										//- 	span

						.main-menu-wrap__content
							.container
								.row
									.col-12.d-lg-none
										.main-menu-choose
											.main-menu-choose__item.js-main-menu-choose-item(data-id="1").active Категории
												.main-menu-choose__line
											.main-menu-choose__item.js-main-menu-choose-item(data-id="2") Коллекции
												.main-menu-choose__line

									.col-3.d-none.d-lg-block
										.main-menu-wrap__sect
											.main-menu-wrap__title
												a(href="#")  Каталог

									.col-lg-3
										.main-menu-wrap__sect.js-main-menu-wrap-sect.active(data-id="1")
											.main-menu-wrap__title.d-none.d-lg-block Категории

											.main-menu
												-
													var list=[
														{text:'все'},
														{text:'платья'},
														{text:'топы'},
														{text:'брюки'},
														{text:'жакеты'},
														{text:'корсеты'},
														{text:'блузки'},
														{text:'жилеты'},
													]
												each item in list
													.main-menu__item
														a(href="#")= item.text

									.col-lg-6
										.main-menu-wrap__sect.js-main-menu-wrap-sect(data-id="2")
											.main-menu-wrap__title.d-none.d-lg-block Коллекции

											.main-menu
												-
													var list=[
														{text:'вечерние образы'},
														{text:'круизная коллекция', status:'active'},
														{text:'На все случаи'},
														{text:'весна 2025'},
													]
												each item in list
													.main-menu__item(class=item.status?'active':'')
														a(href="#")= item.text

						.menu-sect.d-none.d-lg-block
							.container
								.row
									-
										var list=[
											{text:'Круиз', img:'menu-sect1.jpg'},
											{text:'Офис', img:'menu-sect2.jpg'},
											{text:'Досуг', img:'menu-sect3.jpg'},
											{text:'Весна 2025', img:'menu-sect4.jpg'},
										]
									each item in list
										.col-3
											a(href="#", style="background-image: url(/upload/"+item.img+")").menu-sect__item
												.menu-sect__text= item.text

						.main-menu-contacts.d-lg-none
							a(href="tel:+79274568282").main-menu-contacts__phone
								+svg('ic-call','ic-call', '22', '22')
								|+7(927)456-82-82

							.social
								a(href="#").social__item
									+svg('ic-instagram','ic-instagram', '20', '20')

								a(href="#").social__item
									+svg('ic-youtube','ic-youtube', '22', '19')

			.col-4
				.header__logo(class=pageId=='main'?'d-md-none':'') DEVABALA

			.col-4
				.header-actions
					.header-actions__item.js-search-popup-open
						+svg('ic-search','ic-search', '26', '30')

					.header-actions__item
						+svg('ic-bag','ic-bag', '26', '32')

						if(cartCount)
							.header-actions__count= cartCount

	.search-popup.js-search-popup(class=searchShow?'opened':'')
		.container
			.row
				.col-12
					.search-popup__header Поиск

					.search-popup__top
						.search-popup__field
							.search-popup__icon
								+svg('ic-search','ic-search', '37', '39')

							if(searchText || searchEmpty)
								input(type="text", placeholder="Введите запрос", value="Топы")
							else
								input(type="text", placeholder="Введите запрос")

							button(type="submit").btn Найти
								+svg('ic-search','ic-search', '22', '24')

						.search-popup__close.js-search-popup-close
							+svg('ic-close','ic-close', '24', '24')

					.search-tags
						-
							var list=[
								{text:'брюки'},
								{text:'рубашка'},
								{text:'платье'},
								{text:'топ'},
								{text:'новинки'},
								{text:'офис'},
							]
						each item in list
							.search-tags__item= item.text

					.search-popup__main
						.search-popup__info
							if(searchText)
								.search-popup__sect
									.search-popup__title Искать в категории

									.search-popup-res
										-
											var list=[
												{text:'Топы и блузки'},
												{text:'Офисная коллекция'},
												{text:'Новинки'},
											]
										each item in list
											a(href="#").search-popup-res__item= item.text

									a(href="#").btn.btn_brown.btn_medium.d-md-inline-flex.d-none Посмотреть все результаты

							else if(searchEmpty)
								.search-popup__sect
									.search-popup__title 0 результатов

									.search-popup__empty Товаров по вашему запросу не найдено

								.search-popup__sect
									.search-popup__title Попробуйте другие категории

									.search-category
										-
											var list=[
												{img:'search-category1.png', text:'Платья и сарафаны'},
												{img:'search-category2.png', text:'Жакеты'},
												{img:'search-category2.png', text:'Жакеты'},
												{img:'search-category1.png', text:'Топы'},
											]
										each item in list
											.search-category__item
												.search-category__title= item.text

												.search-category__img
													img(src="/upload/"+item.img, alt="")
							else
								.search-popup__sect
									.search-popup__title Недавние запросы

									.list-requests
										-
											var list=[
												{text:'Миди'},
												{text:'Брюки'},
												{text:'Платья'},
											]
										each item in list
											.list-requests__item
												.list-requests__val= item.text

												.list-requests__close
													+svg('ic-close','ic-close', '12', '12')

								.search-popup__sect
									.search-popup__title Категории

									.search-category
										-
											var list=[
												{img:'search-category1.png', text:'Платья и сарафаны'},
												{img:'search-category2.png', text:'Жакеты'},
												{img:'search-category2.png', text:'Жакеты'},
												{img:'search-category1.png', text:'Топы'},
											]
										each item in list
											.search-category__item
												.search-category__title= item.text

												.search-category__img
													img(src="/upload/"+item.img, alt="")

						.search-popup__products
							.search-popup__title Популярные товары

							.popular-products
								-
									var list=[
										{img:'catalog2.jpg', text:'Бархатный топ', price:'9 000'},
										{img:'catalog3.jpg', text:'Бархатный топ', price:'23 000'},
										{img:'catalog4.jpg', text:'Бархатный топ', price:'12 000'},
									]
								each item in list
										.catalog-item
											.catalog-item__img-wrap
												a(href="#").catalog-item__img
													img(src="/upload/"+item.img, alt="")

												.catalog-item__wish
													+svg('ic-heart','ic-heart', '15', '13')

											.catalog-item__content
												.catalog-item__title
													a(href="#")= item.text

												.catalog-item__price= item.price